
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead> 
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            {% for melon in cart %} 
                <tr>
                    <th>{{melon.common_name}}</th>
                    <th>{{melon.quantity}}</th>
                    <th>{{melon.price_str()}}</th>
                    <th>{{melon.total()}}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Total: {{cart_sum}} </h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
